# Credenciales de Supabase
SUPABASE_URL=tu_url_aqui
SUPABASE_KEY=tu_api_key_aqui

# Credenciales de Administrador (API) - Estos los elegis vos
ADMIN_USER=usuario_admin
ADMIN_PASS=password_fuerte
JWT_SECRET=tu_jwt_creado_personalmente